Source: mkos-mlo-common
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bgat/mkos-mlo-common.git
Vcs-Browser: https://github.com/bgat/mkos-mlo-common.git

Package: mkos-mlo-common
Architecture: all
Depends: multistrap, util-linux, libguestfs-tools | guestfish, bc, ${misc:Depends}
Description: Composes filesystem images for MLO-based targets
 This package is part of Pragmatux http://pragmatux.org
