Source: mkos-mlo-common
Section: devel
Priority: optional
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.5.1
Vcs-Git: https://github.com/bgat/mkos-mlo-common.git
Vcs-Browser: https://github.com/bgat/mkos-mlo-common.git

Package: mkos-mlo-common
Architecture: all
Depends: multistrap, libguestfs-tools | guestfish, bc, ${misc:Depends}
Description: Composes filesystem images for MLO-based targets
 This package is part of Pragmatux http://pragmatux.org
